---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our global variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;

$text-color:       white;
$background-color: #202020;
$accent-color:     #22F783;

// Width of the content area
$device-width: 600px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
