---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our global variables
$base-font-family: 'Avenir Next Light', 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif;
$base-font-family-bold: 'Avenir Next', 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif;
$base-font-size:   16px;

$text-color:       #202020;
$background-color: white;
$accent-color:     #3DC98C;

// Width of the content area
$device-width: 900px;

// Page List
$pageList: about-us news our-projects media contact-us;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "typography",
        "mixins",
        "base",
        "layout"
;
