<nav>
<ul class="nav-elements">
		<li class="logo">
			<a href="/">millburn gems</a>
		</li>
		<li class="menu-button" onclick="javascript:toggleNav(this, false)">&#8801;</li>
		<li>
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/about-us">About Us</a></li>
				<li><a href="/news">News</li>
				<li><a href="/our-projects">Our Projects</li>
				<li><a href="/media">Media</li>
				<li><a href="/contact-us">Contact Us</li>
			</ul>
		</li>
		<li>
			<ul class="social">
				<li><a href="https://facebook.com/groups/mhsgemsclub"><i class="fa fa-facebook"></i></a></li>
				<li><a href="mailto:hello@millburngems.org"><i class="fa fa-envelope"></i></a></li>
			</ul>
		</li>
	</ul>
</nav>
