<nav>
<ul class="nav-elements">
		<li class="logo">
			<a href="/">Millburn GEMS</a>
		</li>
		<li class="menu-button" onclick="javascript:toggleNav(this, false)">&#8801;</li>
		<li>
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/our-mission">Our Mission</a></li>
				<li><a href="/news">News</li>
				<li><a href="/hartshorn">Hartshorn GEMS</li>
				<li><a href="/media">Media</li>
				<li><a href="/contact-us">Contact Us</li>
			</ul>
		</li>
		<li>
			<ul class="social">
				<li><a href="http://eepurl.com/bx7S7H" target="_blank"><i class="fa fa-envelope"></i></a></li>
				<li><a href="https://facebook.com/groups/millburngems" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://github.com/MillburnGEMS" target="_blank"><i class="fa fa-github"></i></a></li>
			</ul>
		</li>
	</ul>
</nav>
