<div class="overlay"></div>

<div class="alert">

  <h2>Hello!</h2>
  <p class="message">
    Would you like to stay in touch with our updates and cool weekly facts? Sign up for our mailing list below :)
  </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//google.us9.list-manage.com/subscribe/post?u=0807f45d97a4021ae72fc967d&amp;id=5ab4e6fc10" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
    </div>
    <!--End Mailchimp Signup Form-->

</div>