/**
 * Use this stylesheet to set styles of basic elements.
 */

 body {
 	font-family: $base-font-family;
 	font-size: $base-font-size;
 	color: $text-color;
 	background-color: $background-color;
 	margin: 0;
 }