/**
 * Use this stylesheet for base elements (body, h1, a, img, etc.)
 */

 html, body {
 	font-family: $base-font-family;
 	font-size: $base-font-size;
 	color: $text-color;
 	background-color: $background-color;
  	width: 100%; height: 100%;
 	margin: 0;
 }

 a {
  	text-decoration: none;
  	color: $accent-color;
  	@include webkit-transition;
  	
  	&:hover {
  		@include text-shadow($accent-color);
  	}
 }

 h1 {
 	@include set-webkit-margin(auto, auto, auto, auto);
 	font-size: $base-font-size*3;
 }

 h2 {
 	@include set-webkit-margin(auto, auto, auto, auto);
 	font-size: $base-font-size*2;
 }

 ul {
 	list-style-type: none;
 }