/**
 * Use this stylesheet for base elements (body, h1, a, img, etc.)
 */

 body {
 	font-family: $base-font-family;
 	font-size: $base-font-size;
 	color: $text-color;
 	background-color: $background-color;
 	margin: 0;
 }