/**
 * Use this stylesheet for other elements.
 */

 *:hover {
 	@include webkit-transition();
 }

/* Overlay and Alert */

.overlay {
	width: 100%; height: 100%;
	position: fixed;
	opacity: 0.75;
	background-color: black;
	z-index: 1;
	display: none;
}

.alert {
	max-width: 500px;
	background-color: $background-color;
	padding: 50px;
	@include center-on-page();
	z-index: 2;
	display: none;

	p {
		font-size: $base-font-size * 1.25;
	}

	input, .button {
		margin: 5px;
		font-family: $base-font-family-bold;
		font-size: $base-font-size;
		border-radius: 5px;
		padding: 15px;
		outline: none;
	}

	input {
		border: 1px solid lighten($text-color, 80%);
		&:focus {
			@include box-shadow(lighten($text-color, 80%), inset, 5px)
		}
	}

	.button {
		outline: none;
		background-color: $accent-color;
		color: white;
		@include webkit-transition();

		&:hover {
			cursor: pointer;
			background-color: darken($accent-color, 10%);
		}
	}
}


/* Homepage */

#particles-js {
	@include disable-select();
}


.home {
	overflow: hidden;

	.home-header {

	 	width: 100%;
	 	height: 100%;

	 	.logo {

	 		@include center-on-page();

	 		h1 {
	 			color: $text-color;
	 			font-weight: normal;
	 		}

	 		img {
	 			max-width: 100px;
	 		}

	 	}

	 	p {
	 		@include set-webkit-margin(auto, auto, auto, auto);
	 	}

	 }

	 nav {

	 	position: absolute;
		bottom: 0;

	 	.logo {
	 		display: none;
	 	}

	 	ul.nav-elements {
	 		max-width: 700px;
			margin: auto;
	 	}

	 }
}


/* Navigation Bar */

nav {

	width: 100%;
	background-color: $accent-color;
	color: $background-color;
	font-family: $base-font-family-bold;

	.logo  {
		font-size: $base-font-size * 1.5;
		padding: 15px 0px;

		a {
			@include webkit-transition();
			&:hover {
				color: lighten($accent-color, 40%);
			}
		}

	}

	a {
		color: $background-color;
		&:hover {
			text-shadow: none;
		}
	}

	ul {
		list-style-type: none;
		padding: 5px;
		margin: 0;
	}

	ul.nav-elements {
		padding-left: 25px;
	}

	li {
		display: inline-block;
	}

	.menu-button {
		display: none;
		line-height: $base-font-size * 2;
		font-size: $base-font-size * 2;
		padding-top: 10px;

		&:hover {
			cursor: pointer;
		}
	}

	ul.links {

		li  {
			padding: 12px;
			border-radius: 5px;
			margin: 2px;
			color: $background-color;
			@include webkit-transition();

			&:hover {
				background-color: $background-color;
				a {
					color: $accent-color;
				}
			}
		}
	}

	ul.social {
		padding-left: 10px;

		li {
			padding: 5px;
			@include webkit-transition();

			&:hover {
				a {
					color: lighten($accent-color, 40%);
				}
			}
		}
	}

}

@media screen and (max-width: $device-width) {

	nav ul.nav-elements > li {
		display: block;
		text-align: center;
	}

	nav ul.links li, nav ul.social {
		display: none;
	}

	nav ul.nav-elements {
		padding-left: 5px;
	}
}



/* Page Headers */

header {
	width: 100%;
	max-height: 500px;
	text-align: center;
	padding: 150px 0;
	background: $text-color;
	color: white;
	@include disable-select();

	h1 {
		font-size: 500%;
	}
}

@each $page in $pageList {
	.header-#{$page} {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/headers/#{$page}.jpg') no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
}

@media screen and (max-width: $device-width) {

	header {
		padding: 50px 0;

		h1 {
			margin: auto;
			text-align: center;
			font-size: 200%;
		}
	}
}

/* Page Content */

.content {
	font-size: 150%;
	max-width: 80%;
	padding: 50px;
	margin: auto;
}

/* Posts */

.posts {
	width: 100%;
	padding-top: 50px;
}

.post {
	max-width: 800px;
	margin: auto;
	padding: 25px;

	h2 {
		color: $text-color;
		@include webkit-transition();

		&:hover {
			@include text-shadow($text-color);
		}
	}
}

.divider {
	border-bottom: 1px solid lighten($text-color, 80%);
	padding-top: 25px;
}



