/**
 * Use this stylesheet for other elements.
 */


/* Homepage */

#particles-js {
	@include disable-select();
}


.home {
	overflow: hidden;

	.home-header {

	 	width: 100%;
	 	height: 100%;

	 	.logo {

	 		@include center-on-page();

	 		h1 {
	 			color: $text-color;
	 		}

	 		img {
	 			max-width: 100px;
	 		}

	 	}

	 	p {
	 		@include set-webkit-margin(auto, auto, auto, auto);
	 	}

	 }

	 nav {

	 	position: absolute;
		bottom: 0;

	 	.logo {
	 		display: none;
	 	}

	 	ul.nav-elements {
	 		max-width: 700px;
			margin: auto;
	 	}

	 }
}


/* Navigation Bar */

nav {

	width: 100%;
	background-color: $accent-color;
	color: $background-color;

	.logo  {
		font-size: $base-font-size * 1.5;
		font-family: $base-font-family-bold;
		padding: 15px 25px;
	}

	a {
		color: $background-color;
	}

	ul {
		list-style-type: none;
		padding: 5px;
		margin: 0;
	}

	li {
		display: inline-block;
	}

	.menu-button {
		display: none;
		line-height: $base-font-size * 2;
		font-size: $base-font-size * 2;
		padding-top: 10px;

		&:hover {
			cursor: pointer;
		}
	}

	ul.links {

		li  {
			padding: 12px;
			border-radius: 5px;
			margin: 2px;
			color: $background-color;

			&:hover {
				background-color: $background-color;
				a {
					color: $accent-color;
				}
			}
		}
	}

	ul.social {
		padding-left: 10px;

		li {
			padding: 5px;

			&:hover {
				a {
					color: lighten($accent-color, 40%);
				}
			}
		}
	}

}

nav .logo, nav .logo:hover, nav ul.links li, nav ul.links li:hover, nav ul.social li, nav ul.social li:hover {
	-webkit-transition: all 0.1s ease-out;
  	-moz-transition: all 0.1s ease-out;
  	transition: all 0.1s ease-out;
}

@media screen and (max-width: $device-width) {

	nav ul.nav-elements > li {
		display: block;
		text-align: center;
	}

	nav ul.links li, nav ul.social {
		display: none;
	}
}



/* Page Headers */

header {
	width: 100%;
	max-height: 500px;
	padding: 150px;

	h1 {
		color: white;
	}

}

@each $page in $pageList {
	.header-#{$page} {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/headers/#{$page}.jpg') no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
}

@media screen and (max-width: $device-width) {

	header {
		padding: 50px 0;

		h1 {
			margin: auto;
			text-align: center;
		}
	}
}




