/**
 * Use this stylesheet to define custom font families.
 */

 @font-face {
 	font-family: 'Avenir Light';
 	src: url('../fonts/Avenir-Light.ttf') format('truetype');
 }

 @font-face {
 	font-family: 'Avenir Book';
 	src: url('../fonts/Avenir-Book.ttf') format('truetype');
 }